.footer
  .social
      ul
        li
          img(src='images/twitter.png', alt='')
          |  Follow me on twitter 
          a(href='https://twitter.com/mstwi' target="_blank") @mstwi
        li
          img(src='images/codepen.png', alt='')
          |  Check my work on 
          a(href='https://codepen.io/sleiman' target="_blank") Codepen.io
        li
          img(src='images/github.png', alt='')
          |  Check my work on 
          a(href='https://github.com/msleiman' target="_blank") Github.com
          