#page.header
  .title
    h1
      a(href='index.html') MSleiman
  .nav
    ul.menu
      li.current
        a(href='https://twitter.com/mstwi' target="_blank") 
         i.fab.fa-twitter-square
        a(href='https://www.linkedin.com/in/mosleiman/' target="_blank")
         i.fab.fa-linkedin
        a(href='https://github.com/msleiman' target="_blank")
         i.fab.fa-github-square



