@import "reset";
@import "animation";

.header {
  background: #1a5f6b;
  height: 70px;
  a {
    color: #fff;
    text-decoration: none;
  }
  .title {
    float: left;
    width: 50%;
    background: #1a5f6b;

    h1 {
      //font-family: 'Kaushan Script', cursive;
      font-size: 26px;
      padding: 22px;
    }
  }

  .nav {
    float: right;
    width: 50%;
    background: #1a5f6b;
    ul {
      text-align: right;
      padding: 20px;
    }
    .svg-inline--fa {
      font-size: 30px;
      padding-right: 10px;

    }
  }

}
.header.fixed {
    position: absolute;
    z-index: 200000;
  }
  .fixed {
    .title {
      position: fixed;
      left: 0;
      top: 0;
    }
    .nav {
      position: fixed;
      right: 0;
    }
  }
.about {
  background: #1a5f6b;
  position: relative;
  .inner {
    color: #fff;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40%;
    @media (max-width: 600px) { top: 30%; }

    h1 {
      font-family: 'Kaushan Script', cursive;
      font-size: 3em;
    }

    p {
      padding-top: 20px;
      width: 70%;
      margin: 0 auto;
      line-height: 1.8;
      font-weight: normal;
      font-family: Raleway;
      font-size: 14px;

    }

      .svg-inline--fa {
        font-size: 44px;
        opacity: 0.5;
        padding-right: 20px;
        padding-top: 20px;
        @media (max-width: 600px) { font-size: 20px}
        &:hover {
          opacity: 1;
          animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
          transform: translate3d(0, 0, 0);
          backface-visibility: hidden;
          perspective: 1000px;
        }
      }    

  }
}

.latestProjects {
  float: left;
  width: 100%;
  text-align: center;
  background: #000;
  padding-bottom: 40px;


  h2 {
    margin: 20px 30px;
    color: #fff;
    font-size: 36px;
    padding-bottom: 30px;
    padding-top: 30px;
    @media (max-width: 600px) { font-size: 20px}
  }

  .portfolio {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    @media (max-width: 600px) { width: 100%; padding: 10px;}
    a {
      color: #fff;
      font-family: Raleway;
      font-size: 26px;
    }


    .project {
      float: left;
      position: relative;
      margin-right: 1%;
      margin-bottom: 10px;
      width: 32%;
      height: 200px;
      background-size: cover;
      background-position: left top;
      background-repeat: no-repeat;
      overflow: hidden;
      background-color: #fff; 
      @media (max-width: 1100px) and (min-width: 601px) { width: 49%; background-position: left top; height: 300px;  background-size: cover}
      @media (max-width: 600px) { height: 200px; background-position: top center; margin-right: 0px; width: 100%; background-size: 100% 100%; background-repeat: no-repeat }
      img {
        width: 100%;
        height: auto;
      }
      #overlay {
      height: 100%;
      width: 100%;
      opacity: 0.9;
      background: #000;
      display: none;
      h5 {
        padding-top: 80px;
        padding-bottom: 10px;
        font-size: 18px;
      }
      span {
        margin-top: 10px;
        background: black;
        text-decoration: none;
        color: #fff;
      }
    }

    }
  } // portfolio
}


.worked {
  float: left;
  display: none;
}

.footer {
    background-color: #282828;
    padding: 20px 0 20px 0;
    float: left;
    width: 100%;
    margin: 0 auto;
    position: relative;
    a {
      color: #fff;
    }
.social {
  color: #fff;
  width: 300px;
  margin: 0 auto;
  padding-left: 50px;
    ul {
        list-style-type: none;
    }
    li {
        padding: 1em;
        position: relative;
        img {
          padding-right: 5px;
          position: absolute;
          left: -25px;
          bottom: 12px;
        }
    }
}
}



